<% -layout("/layouts/boilerplate")%>


    <div class="row mt-3">
        <div class="col-8 offset-2">

            <h1>Edit this list</h1>

            <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" class="needs-validation" novalidate
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%=listing.title %>" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter title
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control"
                        required><%=listing.description%></textarea>
                    <div class="invalid-feedback">
                        Please enter description
                    </div>
                </div>

                <div class="mb-3">
                    <img src="<%=originalImageurl%>" class=" mb-3" alt="listing_image">
                </div>
                <div class="mb-3">

                    <label for="image" class="form-label"> <b style="color: crimson;">Are You Upload New Image then
                            click on choose file</b></label>

                    <input type="file" name="listing[image][url]" class="form-control">

                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%=listing.price %>" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter valid price
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" value="<%=listing.country %>" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            Please enter valid country
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" value="<%=listing.location %>" class="form-control"
                        required>
                    <div class="invalid-feedback">
                        Please enter valid location
                    </div>
                </div>

                <br>
                <br>
                <button class="btn btn-dark submit-btn mt-3">Submit</button>
                <br>
                <br>
            </form>
        </div>
    </div>